@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}
*{
    font-family: 'Roboto', sans-serif;
}
:root{
    --primaryTextColor: #d9dffc;
    --secondaryTextColor: #a3a3a3;
    --primaryBackgroundColor: #010209;
    --primaryColor: #3f19b0;
    --secondaryColor: #210d91;
    --terciaryColor: #6c27ec;

}