<section
    id="about"
    class="grid grid-cols-1 lg:grid-cols-2 items-center gap-10 max-w-7xl mx-auto p-4 py-26 mt-10"
>
    <h2
        class="text-3xl font-bold text-(--primaryTextColor) text-center lg:col-span-2"
    >
        Sobre mi
    </h2>
    <div class="flex flex-col gap-4">
        <article
            class="w-full max-w-xl bg-(--primaryColor) p-4 mx-auto rounded-2xl"
        >
            <div class="flex justify-between items-center mb-4">
                <h3 class="text-(--primaryTextColor)">
                    Desarrollo Web Fullstack
                </h3>
                <div class="text-3xl">🧠</div>
            </div>
            <p class="text-(--secondaryTextColor)">
                Construyo aplicaciones completas, desde el diseño del frontend
                hasta la lógica del backend. Trabajo con tecnologías como
                Next.js, Node.js, GraphQL y MongoDB, creando soluciones
                escalables, rápidas y seguras.
            </p>
        </article>
        <article
            class="w-full max-w-xl bg-(--primaryColor) p-4 mx-auto rounded-2xl"
        >
            <div class="flex justify-between items-center mb-4">
                <h3 class="text-(--primaryTextColor)">
                    Diseño y Experiencia de Usuario
                </h3>
                <div class="text-3xl">🎨</div>
            </div>
            <p class="text-(--secondaryTextColor)">
                Transformo ideas en interfaces limpias, modernas y fáciles de
                usar. Utilizo Tailwind CSS y Figma para lograr un diseño
                atractivo y funcional que se adapte a cualquier dispositivo.
            </p>
        </article>
        <article
            class="w-full max-w-xl bg-(--primaryColor) p-4 mx-auto rounded-2xl"
        >
            <div class="flex justify-between items-center mb-4">
                <h3 class="text-(--primaryTextColor)">
                    Integraciones y Automatización
                </h3>
                <div class="text-3xl">⚙️</div>
            </div>
            <p class="text-(--secondaryTextColor)">
                Conecto APIs, sistemas externos y servicios en la nube para
                optimizar procesos. Implemento integraciones con AWS, n8n y
                otros servicios, reduciendo tareas repetitivas y mejorando la
                eficiencia.
            </p>
        </article>
    </div>
    <div class="flex flex-col justify-between gap-6 lg:pl-10 max-w-xl mx-auto">
        <p class="text-(--terciaryColor) font-bold lg:text-right">INTRODUCCIÓN</p>
        <h2 class="text-(--primaryTextColor) text-2xl lg:text-right">Hola! Soy Edgardo Funes</h2>
        <p class="text-(--primaryTextColor)">
            Transformo ideas en experiencias digitales que inspiran. Mi objetivo
            es crear sitios web modernos, rápidos y funcionales, donde el diseño
            y la tecnología trabajen en perfecta armonía.
        </p>
        <p class="text-(--secondaryTextColor)">
            Soy desarrollador web fullstack con experiencia en Next.js, Node.js
            y MongoDB. Me apasiona construir aplicaciones que no solo se vean
            bien, sino que también ofrezcan un rendimiento sólido y una
            experiencia de usuario fluida. Mi enfoque combina creatividad y
            técnica: diseño interfaces atractivas con Tailwind CSS, implemento
            backends robustos con GraphQL o REST, y cuido cada detalle para
            garantizar escalabilidad y seguridad. Creo que cada proyecto es una
            oportunidad para aprender, mejorar y dejar una huella digital
            significativa. Mi meta es ayudar a personas y empresas a dar vida a
            sus ideas en la web, con soluciones pensadas para crecer y perdurar.
        </p>
    </div>
</section>
