<section
    id="home"
    class="pt-30 grid grid-cols-1 lg:grid-cols-2 items-center gap-10 md:max-w-5xl mx-auto p-4"
>
    <div class="order-2 lg:order-1 flex flex-col gap-10">
        <h1
            class="text-[var(--primaryTextColor)] text-4xl font-bold mb-6 md:leading-14 md:text-5xl text-center lg:text-left"
        >
            No solo creo sitios web, creo experiencias que dejan huella
        </h1>
        <p class="text-[var(--secondaryTextColor)] text-center lg:text-left">
            Experiencia, rendimiento y autenticidad en cada línea de código.
        </p>
        <a
            href="#about"
            class="text-[var(--primaryTextColor)] bg-[var(--primaryColor)] w-56 rounded-xl h-14 mx-auto cursor-pointer lg:mx-0 hover:bg-[var(--terciaryColor)] transition-colors flex justify-center items-center font-medium text-lg"
        >
            Sobre mi
        </a>
    </div>
    <div
        class="relative flex justify-center items-center bg-[var(--backgroundColor)] order-1"
    >
        <div
            class="relative w-[28rem] h-[28rem] rounded-full border-[16px] border-[var(--primaryColor)] overflow-hidden"
        >
            <img
                class="absolute inset-0 w-full h-full object-contain lg:scale-x-[-1]"
                alt="Imagen de perfil"
                src="Imagen Personal ghibli.png"
            />
        </div>
        <div
            class="absolute w-full h-[100vw] max-w-[500px] max-h-[550px] bg-[radial-gradient(circle,_var(--terciaryColor)_0%,_transparent_70%)] md:w-2xl top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-10 pointer-events-none"
        >
        </div>
    </div>
</section>
